* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background: #fafafa;
}

.header {
  background: white;
  color: #2196F3;
  padding: 20px;
  font-size: 22px;
  font-weight: bold;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  box-shadow: 0 0 5px #888;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 80px 0 0 10px;
}

.widget {
  background: #fff;
  border: 1px solid #f0f0f0;
  margin: 0 10px 10px 0;
  text-align: center;
  display: inline-block;
  width: 100%;
  vertical-align: top;
  float: left;
}

.widget-content {
  padding: 20px;
  color: #2196F3;
  font-weight: 500;
  position: relative;
}

.widget-content .pie {
  text-align: left;
  color: #888;
}

.widget-content .legend {
  display: inline-block;
  margin-left: 40px;
  vertical-align: top;
  max-width: 292px;
  white-space: nowrap;
  overflow: hidden;
}

.widget-content .legend ul {
  list-style-type: none;
  line-height: 56px;
  cursor: default;
}

.widget-content .legend ul li span {
  width: 40px;
  height: 5px;
  display: inline-block;
  margin-right: 15px;
  vertical-align: middle;
}

.widget-content .legend ul li {
  position: relative;
}

.widget.one {
  width: 306px;
}

.widget.two {
 width: 624px;
}

.widget.three {
  width: 940px;
}

.widget-title {
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  text-align: left;
  padding: 14px 20px;
  background: #f5f5f5;
  color: #aaa;
  border-bottom: 1px solid #eee;
}

.title-container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.tooltip {
  position: absolute;
  top: 190px;
  left: 610px;
  background: #f9f9f9;
  padding: 5px 10px;
  border-radius: 2px;
  color: #000;
  white-space: nowrap;
  box-shadow: 0 2px 6px -4px #444;
  pointer-events: none;
  display: none;
  line-height: normal;
}
